/**
 *
 * GIBSON
 *
*/
@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Thin.eot");
	src: url("../fonts/gibson/subset-Gibson-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Thin.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Thin.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Thin.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Thin.svg#Gibson-Thin") format("svg");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Light.eot");
	src: url("../fonts/gibson/subset-Gibson-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Light.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Light.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Light.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Light.svg#Gibson-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Regular.eot");
	src: url("../fonts/gibson/subset-Gibson-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Regular.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Regular.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Regular.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Regular.svg#Gibson-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Medium.eot");
	src: url("../fonts/gibson/subset-Gibson-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Medium.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Medium.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Medium.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Medium.svg#Gibson-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-SemiBold.eot");
	src: url("../fonts/gibson/subset-Gibson-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-SemiBold.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-SemiBold.woff") format("woff"), url("../fonts/gibson/subset-Gibson-SemiBold.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-SemiBold.svg#Gibson-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Bold.eot");
	src: url("../fonts/gibson/subset-Gibson-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Bold.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Bold.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Bold.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Bold.svg#Gibson-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gibson;
	src: url("../fonts/gibson/subset-Gibson-Heavy.eot");
	src: url("../fonts/gibson/subset-Gibson-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson/subset-Gibson-Heavy.woff2") format("woff2"), url("../fonts/gibson/subset-Gibson-Heavy.woff") format("woff"), url("../fonts/gibson/subset-Gibson-Heavy.ttf") format("truetype"), url("../fonts/gibson/subset-Gibson-Heavy.svg#Gibson-Heavy") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/**
 *
 * GILL SANS
 *
*/
@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-Light.eot");
	src: url("../fonts/gill-sans/subset-GillSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-Light.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-Light.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-Light.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-Light.svg#GillSans-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-LightItalic.eot");
	src: url("../fonts/gill-sans/subset-GillSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-LightItalic.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-LightItalic.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-LightItalic.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-LightItalic.svg#GillSans-LightItalic") format("svg");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans.eot");
	src: url("../fonts/gill-sans/subset-GillSans.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans.svg#GillSans") format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-Italic.eot");
	src: url("../fonts/gill-sans/subset-GillSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-Italic.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-Italic.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-Italic.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-Italic.svg#GillSans-Italic") format("svg");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.eot");
	src: url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-SemiBoldItalic.svg#GillSans-SemiBoldItalic") format("svg");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-SemiBold.eot");
	src: url("../fonts/gill-sans/subset-GillSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-SemiBold.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-SemiBold.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-SemiBold.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-SemiBold.svg#GillSans-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-Bold.eot");
	src: url("../fonts/gill-sans/subset-GillSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-Bold.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-Bold.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-Bold.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-Bold.svg#GillSans-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-BoldItalic.eot");
	src: url("../fonts/gill-sans/subset-GillSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-BoldItalic.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-BoldItalic.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-BoldItalic.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-BoldItalic.svg#GillSans-BoldItalic") format("svg");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Gill Sans";
	src: url("../fonts/gill-sans/subset-GillSans-UltraBold.eot");
	src: url("../fonts/gill-sans/subset-GillSans-UltraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/subset-GillSans-UltraBold.woff2") format("woff2"), url("../fonts/gill-sans/subset-GillSans-UltraBold.woff") format("woff"), url("../fonts/gill-sans/subset-GillSans-UltraBold.ttf") format("truetype"), url("../fonts/gill-sans/subset-GillSans-UltraBold.svg#GillSans-UltraBold") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/**
 *
 * GEIST MONO
 *
*/
@font-face {
	font-family: "Geist Mono";
	src: url("../fonts/geist-mono/GeistMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
