.timer-comment-field-container {
	.timer-comment-field-wrapper {
		.timer-comment-field {
			width: clamp(150px, 20vw, 300px);
			transition: width 0.3s ease;

			&.focus {
				width: clamp(200px, 50vw, 600px);
			}
		}
	}
}
